/*****************************
 Fonts
*****************************/

@font-face {
  font-family: "Notera 2 PERSONAL USE ONLY Light";
  font-style: normal;
  font-weight: normal;
  src: local("Notera 2 PERSONAL USE ONLY Light"),
    url("../fonts/Notera2Light_PERSONAL.woff") format("woff");
}

/******************************
  DEFAULT STYLESHEET
*******************************/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Raleway, "Times New Roman", Times, serif;
  background-color: #f6f6f6;
  line-height: 1.5rem;
  width: 100%;
  color: #424242;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.row {
  display: block;
  width: 100%;
  clear: both;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: #313131;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.0625rem;
}

h4 {
  font-size: 0.9015rem;
}

h5 {
  font-size: 0.8125rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 0.8125rem;
}

hr {
  border: 0;
  height: 0.1875rem;
  margin-top: 0.625rem;
  background-color: #ffb69b;
  width: 6rem;
}

a {
  font-size: 0.75rem;
  color: #313131;
  text-decoration: none;
}

.link {
  color: #ffb69b;
}

a:hover {
  color: #d07451;
}

.img-responsive {
  width: 100%;
  height: 100%;
}
.text-center {
  text-align: center;
}
.btn {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.75rem 1.25rem;
  border: 0.0625rem solid #e9e9ea;
}

.continue-btn {
  background-color: #ffb69b;
  border-color: #ffb69b;
}

.continue-btn:hover {
  background-color: #d07451;
}

.readmore-btn {
  background-color: #ffffff;
  color: #414141;
}
.readmore-btn:hover {
  background-color: #414141;
  color: #ffffff;
}

.display-none {
  display: none;
}
.section-gap {
  margin: 3.125rem 0;
}
/********************************************************
 Header
*******************************************************/

/********* Navbar **********/
.nav-left {
  width: 22%;
  border-left: 0.0625rem solid #cdcdcd;
}

.nav-middle {
  width: 55%;
}
.nav-right {
  width: 20%;
  text-align: right;
  border-right: 0.0625rem solid #cdcdcd;
}

nav {
  min-height: 3.125rem;
  background-color: #ffffff;
  border-bottom: 0.0625rem solid #cdcdcd;
}

nav ul li {
  display: inline-block;
}

.nav-link {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0rem 0.9375rem;
  line-height: 3.125rem;
}

.social-link > li {
  border-left: 0.0625rem solid #cdcdcd;
}

/************ LOGO ****************/

.logo {
  font-family: "Notera 2 PERSONAL USE ONLY Light", "Times New Roman", Times,
    serif;
  font-weight: lighter;
  text-transform: none;
  font-size: 5rem;
  line-height: 5rem;
}

.logo-text {
  color: #ffb69b;
  font-weight: 600;
  width: 22%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo-text::before,
.logo-text::after {
  content: "";
  flex: 1;
  border-bottom: 0.0625rem solid #000000;
}

.logo-text::after {
  margin-left: 0.625rem;
}

.logo-text::before {
  margin-right: 0.625rem;
}

/**************************
 Slider
**************************/
.slider {
  width: 100%;
  min-height: 32.1875rem;
  position: relative;
}
.slider .slider-item {
  min-height: 30.5rem;
  position: absolute;
  z-index: -2;
}

.slider .control-left {
  cursor: pointer;
  background-color: rgba(75, 70, 70, 0.6);
  position: absolute;
  left: 0;
  min-height: 30.5rem;
  opacity: 0;
  transition: all 1s;
}
.slider .control-right {
  cursor: pointer;
  background-color: rgba(75, 70, 70, 0.6);
  position: absolute;
  right: 0;
  min-height: 30.5rem;
  opacity: 0;
  transition: all 1s;
}

.slider .control-right i,
.slider .control-left i {
  padding: 0 2.1875rem;
  margin-top: 15rem;
}

.slider:hover .control-right,
.slider:hover .control-left {
  opacity: 1;
}

.subtitle {
  display: none;
}
.subtitle-set {
  background-color: #f6f6f6;
  position: absolute;
  border-bottom: 0.0625rem solid #cdcdcd;
  bottom: 0;
  left: 0;
  width: 100%;
}
.subtitle-set h5 {
  border-bottom: 0.125rem solid #ffb69b;
}
.subtite-active {
  color: #ffb69b;
}

/*********************************************************
 Content
********************************************************/
.container-content {
  width: 74%;
  box-sizing: border-box;
}

.container-aside {
  width: 24%;
  box-sizing: border-box;
}

/*****************************************************
 Footer
 ***************************************************/

footer > .flexbox > div {
  width: 32%;
}

/********************************************
 Responsive
********************************************/

@media screen and (max-width: 1170px) {
  .container {
    width: 960px;
  }
  .subtitle-set {
    bottom: -14px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 760px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 480px;
  }
}
