/*****************************
 Fonts
*****************************/

@font-face {
  font-family: "Notera 2 PERSONAL USE ONLY Light";
  font-style: normal;
  font-weight: normal;
  src: local("Notera 2 PERSONAL USE ONLY Light"),
    url("../fonts/Notera2Light_PERSONAL.woff") format("woff");
}

/******************************
  DEFAULT STYLESHEET
*******************************/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Raleway, "Times New Roman", Times, serif;
  background-color: #f6f6f6;
  line-height: 1.5rem;
  width: 100%;
  color: #424242;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.row {
  display: block;
  width: 100%;
  clear: both;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: #313131;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.0625rem;
}

h4 {
  font-size: 0.9015rem;
}

h5 {
  font-size: 0.8125rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 0.8125rem;
  margin: 0.675rem 0rem;
}

hr {
  border: 0;
  height: 0.1875rem;
  margin-top: 0.625rem;
  background-color: #ffb69b;
  width: 6rem;
}

a {
  font-size: 0.75rem;
  color: #313131;
  text-decoration: none;
}

.link {
  color: #ffb69b;
}

a:hover {
  color: #d07451;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.text-center {
  text-align: center;
}
.btn {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.75rem 1.25rem;
  border: 0.0625rem solid #e9e9ea;
}

.continue-btn {
  background-color: #ffb69b;
  border-color: #ffb69b;
}

.continue-btn:hover {
  background-color: #d07451;
}

.readmore-btn {
  background-color: #ffffff;
  color: #414141;
}
.readmore-btn:hover {
  background-color: #414141;
  color: #ffffff;
}

.display-none {
  display: none;
}
.section-gap {
  margin: 3.125rem 0;
}

input[type="text"],
input[type="email"] {
  background-color: #f6f6f6;
  color: #313131;
  border-top: 0.0625rem solid #ececec;
  border-left: 0.0625rem solid #ececec;
  border-right: 0.0625rem solid #cdcdcd;
  border-bottom: 0.0625rem solid #cdcdcd;
  width: 100%;
  display: block;
  padding: 1.125rem 0.875rem;
}
/********************************************************
 Header
*******************************************************/

/********* Navbar **********/
.nav-left {
  width: 22%;
  border-left: 0.0625rem solid #cdcdcd;
}

.nav-middle {
  width: 55%;
}
.nav-right {
  width: 20%;
  text-align: right;
  border-right: 0.0625rem solid #cdcdcd;
}

nav {
  min-height: 3.125rem;
  background-color: #ffffff;
  border-bottom: 0.0625rem solid #cdcdcd;
}

nav ul li {
  display: inline-block;
}

.nav-link {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0rem 0.9375rem;
  line-height: 3.125rem;
}

.social-link > li {
  border-left: 0.0625rem solid #cdcdcd;
}

.social-link-grp a {
  padding: 0.675rem;
  background-color: #f6f6f6;
  border-top: 0.0625rem solid #ececec;
  border-left: 0.0625rem solid #ececec;
  border-right: 0.0625rem solid #cdcdcd;
  border-bottom: 0.0625rem solid #cdcdcd;
}

.navbar-toggler {
  display: none;
}
/************ LOGO ****************/

.logo {
  font-family: "Notera 2 PERSONAL USE ONLY Light", "Times New Roman", Times,
    serif;
  font-weight: lighter;
  text-transform: none;
  font-size: 5rem;
  line-height: 5rem;
}

.logo-text {
  color: #ffb69b;
  font-weight: 600;
  width: 22%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo-text::before,
.logo-text::after {
  content: "";
  flex: 1;
  border-bottom: 0.0625rem solid #000000;
}

.logo-text::after {
  margin-left: 0.625rem;
}

.logo-text::before {
  margin-right: 0.625rem;
}

/**************************
 Slider
**************************/
.slider {
  width: 100%;
  min-height: 32.1875rem;
  position: relative;
}
.slider .slider-item {
  min-height: 30.5rem;
  position: absolute;
  z-index: -2;
}

.slider img {
  min-height: 30.5rem;
}

.slider .control-left {
  cursor: pointer;
  background-color: rgba(75, 70, 70, 0.6);
  position: absolute;
  left: 0;
  min-height: 30.5rem;
  opacity: 0;
  transition: all 1s;
}
.slider .control-right {
  cursor: pointer;
  background-color: rgba(75, 70, 70, 0.6);
  position: absolute;
  right: 0;
  min-height: 30.5rem;
  opacity: 0;
  transition: all 1s;
}

.slider .control-right i,
.slider .control-left i {
  padding: 0 2.1875rem;
  margin-top: 15rem;
}

.slider:hover .control-right,
.slider:hover .control-left {
  opacity: 1;
}

.subtitle {
  display: none;
}
.subtitle-set {
  background-color: #f6f6f6;
  position: absolute;
  border-bottom: 0.0625rem solid #cdcdcd;
  bottom: 0;
  left: 0;
  width: 100%;
}
.subtitle-set h5 {
  border-bottom: 0.125rem solid #ffb69b;
}
.subtite-active {
  color: #ffb69b;
}

/***********************************************
 SMALL SLIDER
**************************************************/
.small-slider {
  position: relative;
  width: 100%;
}
.small-slider .control-left {
  position: absolute;
  left: 0;
  padding: 0 1.125rem;
  background-color: #cdcdcd;
  min-height: 100%;
  transition: all 2s;
}
.small-slider img {
  width: 100%;
}
.small-slider .badge {
  position: absolute;
  text-align: center;
  width: 8.75rem;
  left: 45%;
  top: -0.75rem;
  background-color: #ffb69b;
  color: #ffffff;
}

.small-slider .control-right {
  position: absolute;
  right: 0;
  padding: 0 1.125rem;
  background-color: #cdcdcd;
  min-height: 100%;
  transition: all 2s;
}

.small-slider .control-right i {
  position: absolute;
  top: 40%;
  right: 0.825rem;
  color: #ffffff;
}
.small-slider .control-left i {
  position: absolute;
  top: 40%;
  left: 0.825rem;
  color: #ffffff;
}

.small-slider:hover .control-left,
.small-slider:hover .control-right {
  background-color: #ffb69b;
  cursor: pointer;
}

/*********************************************************
 Content
********************************************************/
.container-content {
  width: 74%;
  box-sizing: border-box;
}

.container-aside {
  width: 24%;
  box-sizing: border-box;
}

.card {
  background-color: #ffffff;
  border-top: 0.0625rem solid #ececec;
  border-left: 0.0625rem solid #ececec;
  border-right: 0.0625rem solid #cdcdcd;
  border-bottom: 0.0625rem solid #cdcdcd;
  margin: 1.5rem 0rem 0rem;
}
.post-card-img {
  max-width: 100%;
  max-height: 100%;
}

.post-card-heading {
  margin: 0 0 0.75rem;
}

.post-card-heading h6 {
  margin: 0.75rem 0;
}
.post-card-heading h6 a {
  color: #ffb69b;
}
.post-card-body {
  padding: 1.5rem;
}

.btn-section {
  margin-top: 1rem;
}

.post-card-sm {
  width: 49%;
}

/*****************************************
 POST LIST
****************************************/
hr {
  border-bottom: 0.0612rem solid #ececec;
  margin-bottom: 1.225rem;
}
aside li:hover {
  text-decoration: underline !important;
}

aside li {
  display: block;
  padding: 1.1rem 0rem;
  border-bottom: 0.0612rem solid #ececec;
}

aside li:first-child {
  padding: 0rem 0rem 1.1rem;
  border-bottom: 0rem;
}

aside li:last-child {
  padding: 1.1rem 0rem 0rem;
  border-bottom: 0rem;
}
.sidebar-seach {
  position: relative;
}

.sidebar-seach i {
  position: absolute;
  top: 1.05rem;
  right: 0.75rem;
}

.sidebar-card {
  padding: 1.2rem 0.85rem;
}
.post-list li {
  display: block;
  padding: 1.1rem 0rem;
  border-bottom: 0.0612rem solid #ececec;
}
.post-list li img {
  float: left;
  margin-right: 0.552rem;
}
.sponsor img {
  border: 0.125rem solid #ffb69b;
}

.instagram img {
  margin: 0.125rem 0rem;
}

/*********************************
Sidebar Post
********************************/
.sliderPost {
  position: relative;
}
.sliderPost-control-left {
  padding: 0.675rem;
  position: absolute;
  background-color: #f6f6f6;
  left: 0;
  top: 40%;
  transition: all 2s;
}

.sliderPost-control-right {
  padding: 0.675rem;
  position: absolute;
  background-color: #f6f6f6;
  right: 0;
  transition: all 2s;
  top: 40%;
}
.sliderPost:hover .sliderPost-control-right,
.sliderPost:hover .sliderPost-control-left {
  background-color: #ffb69b;
}

/*****************************************************
 Footer
 ***************************************************/
footer {
  position: relative;
  margin-top: 10rem !important;
  border-top: 0.12rem solid #ffb69b;
  padding: 3.75rem 0rem;
}
footer .flexbox > div {
  width: 32%;
}

footer h5 {
  margin: 0.675rem 0rem;
}
footer .btn {
  margin: 0.675rem 0rem;
  display: block;
  width: 100%;
}

.tweets {
  border-bottom: 0.0912rem solid #e7e7e7;
  padding: 0 0 0.675rem;
}

.newsletter form input {
  margin-bottom: 0.675rem;
}

.goTop {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 7%;
  background-color: #ffb69b;
  border: 0;
  color: #ffffff;
  padding: 0.75rem 1.25rem;
}
.goTop:hover {
  background-color: #d07451;
  color: #ffffff;
}
/********************************************
 Responsive
********************************************/

@media (min-width: 961px) and (max-width: 1170px) {
  .container {
    width: 960px;
  }
  .nav-link {
    margin: 0rem 0.4375rem;
  }
  .small-slider {
    overflow: hidden;
  }

  .small-slider .badge {
    top: 0;
  }

  .social-link-grp a {
    padding: 0.475rem;
  }
}

@media (min-width: 761px) and (max-width: 960px) {
  .container {
    width: 760px;
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0rem 0.1375rem;
    line-height: 3.125rem;
  }
  .small-slider {
    overflow: hidden;
  }

  .small-slider .badge {
    top: 0;
    left: 40%;
  }

  .social-link-grp a {
    padding: 0.125rem;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 600px;
  }
  nav .flexbox {
    display: block;
  }
  .nav-middle {
    width: 100%;
  }
  .nav-right {
    width: 100%;
    border: 0;
    text-align: center;
  }
  .social-link > li:last-child {
    border-right: 0.0625rem solid #cdcdcd;
  }
  .nav-left {
    width: 100%;
    border-left: 0;
    text-align: center;
  }
  .small-slider {
    overflow: hidden;
  }

  .small-slider .badge {
    top: 0;
    left: 40%;
  }
  section.flexbox {
    display: block;
  }
  .container-content {
    width: 100%;
  }
  .container-aside {
    width: 80%;
    margin: 5rem auto;
  }

  .social-link-grp a {
    padding: 0.225rem;
  }
  .post-card-md img,
  .sponsor img,
  .instagram img,
  .sliderPost img {
    min-width: 100%;
    min-height: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 420px;
  }
  .small-slider {
    overflow: hidden;
  }

  .small-slider .badge {
    top: 0;
    left: 40%;
  }

  .collapse {
    display: none;
  }
  .main-nav li {
    display: block;
  }
  .flexbox {
    display: block;
  }
  header .flexbox {
    display: flex;
  }
  nav .flexbox {
    display: block;
  }

  .post-card-sm {
    width: 100%;
  }

  .social-link-grp {
    margin-top: 0.925rem;
  }
  .social-link-grp a {
    padding: 0.725rem;
  }
  footer .flexbox > div {
    width: 80%;
    margin: 2rem auto;
  }
  .post-card-md img,
  .sponsor img {
    min-width: 100%;
  }
  .instagram .flexbox {
    display: flex;
  }
  .nav-left {
    width: 100%;
    border-left: 0;
    text-align: center;
  }
  .navbar-toggler {
    display: inline-block;
    margin: 0rem 0.9375rem;
  }
}
